.DevWindow
{
	scrollbar 
	{
		opacity: 1;
		background-color: #212121;
	}
 
	scrollbar > .thumb 
	{
		background-color: #576868;
		border-radius: 0px;
	}

	scrollbar > .thumb:hover 
	{
		opacity: 1;
	}

	scrollbar.vertical > .thumb 
	{
		border-left: 1px #636e6e;
		border-right: 1px #394545;
		margin: -2px 0px;
	}

	scrollbar.horizontal > .thumb 
	{
		border-top: 1px #636e6e;
		border-bottom: 1px #394545;
		margin: 0px 2px;
	}
}
