
$error: #BF616A;
$warning: #d47050;

$background: #171819;
$control: #3e4549;
$control-dark: #2c3235;
$control-light: #576167;
$control-label: #dbdee9;
$control-text: #ccc;
$control-highlight: #3793c8;

$client: #f3d234;
$server: #3793c8;

$blue: #3793c8;
$green: #75b741;
$yellow: #b69a2c;

DeveloperMode
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	 pointer-events: none;
	// pointer-events: none;

	// &.open.focused
	// {
	// 	pointer-events: all;
	// }
}

DeveloperMode:not(.open) DevWindow
{
	display: none;
}

.popup-panel
{
	border-top: 1px #171819;
	border-left: 1px #171819;
	border-right: 1px #171819;

	.button
	{
		border-top: 1px #171819;

		background-color: $control;

		&:hover,
		&.active
		{
			background-color: $control-light;
		}

		.iconpanel
		{
			color: white;
			opacity: 0.2;
			margin-right: 10px;
		}
	}
}
