$ignis-bg: #353535;

$ignis-titlebar-bg: #262628;
$ignis-panel-bg: #262628;

$ignis-row-a: #262628;
$ignis-row-b: #373737;
$ignis-row-hover: #454545;

$ignis-selected: #4057b3;
$ignis-selected-pulse: #4f72f2;

$ignis-control-bg: #404040;
$ignis-control-hover: #4a4a4a;
$ignis-control-bg-alt: #262628;
$ignis-control-border: #4d4d4d;
$ignis-control-selected: #545454;

$ignis-border: #26282e;
$ignis-border-radius: 4px;
$ignis-soft-border: #262628;

$ignis-text: #ffffff;

$ignis-muted: #9ca0aa;
$ignis-faint: #555a63;
$ignis-accent: #3273eb;
$ignis-danger: #d74e4e;

$ignis-titlebar-height: 36px;
$ignis-banner-height: 115px;
$ignis-control-height: 24px;
$ignis-section-height: 32px;
$ignis-row-height: 50px;
$ignis-thumb-size: 36px;
