
@import "/Styles/base.scss";
@import "/Styles/form.scss";

devlayer
{
	width: 100%;
	z-index: 10000;
	height: 100%;
	pointer-events: none;

	#DeveloperMode { padding: 0.25em; }

	&.developermode
	{	
		// John: We don't want to hide the console here for now
	
		// Hide the console overlay when the
		// real console is opened
		// consoleoverlay
		// {
		// 	display: none;
		// }
	}

	.popup-panel
	{
		pointer-events: all;
		font-family: Roboto Mono;

		.button
		{
			font-size: 11px;
		}
	}
}
